<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Highland Park, Boston. About</title>
        {{ $style := resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
        <link href="{{ $style.Permalink }}" rel="stylesheet"/>
        <script src="/js/calendar-links.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light-border.css">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@5.3.1/main.global.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            {{ partial "menu.html" . }}
        </header>
        <main id="about">
            {{.Content}}
        </main>
    </body>
</html>
