<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Highland Park, Boston. Census</title>
        {{ $style := resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
        <link href="{{ $style.Permalink }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script>
         function revealPhone() {
             const p3 = "1776";
             const p2 = "383";
             const p1 = "502";
             document.getElementById("phone_number").textContent = p1 + "-" + p2 + "-" + p3;
         }
         window.onload = function() {
             document.getElementById("phone_number").addEventListener("click", revealPhone);
         }
        </script>
    </head>
    <body>
        <header>
            {{ partial "menu.html" . }}
        </header>
        <main id="census">
            <h1>Highland Park Census</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp; Thank you for taking the time to read this, and hopefully answer a few questions. I'm starting a democratic civic organization in the Highland Park neighborhood and I'm trying to figure out what shape it should take, and how it can best help the community. Most civic organizations end up being fairly narrow in focus and participants, so I'm trying to cast a very wide net with this census. I'm not going to sell any information you provide here, and the questions are intended mostly as prompts. If you would rather send me an email ({{ partial "emaillink.html" .}}), have a conversation over the phone (<a href="#" id="phone_number">Click for my phone number</a>) or zoom (email me to arrange a time), or meet in person (socially distanced, of course) I'd be more than happy to. I would rather have some answers from you than none, you can skip questions or submit another response later if you think of anything you'd like to add.
            </p>
            <form name="census" method="POST" data-netlify="true" data-netlify-recaptcha="true" class="census-form">
                <div>
                    <p>
                        I think that it can be very valuable to hear your neighbors opinions, concerns, and hopes. If it's alright with you, I'd like to share with everyone what you share with me (just the answers to the longer questions, and statistics for the short questions).
                    </p>
                    <div class="form-group">
                        <label class="form-label label-lg"><strong>How can I share your answers?</strong></label>
                        <label class="form-radio">
                            <input name="sharing" type="radio" value="full"/>
                            <i class="form-icon"></i> Share my answers on this website under my name
                        </label>
                        <label class="form-radio">
                            <input name="sharing" type="radio" value="anonymous"/>
                            <i class="form-icon"></i> Share my answers on this website anonymously
                        </label>

                        <label class="form-radio">
                            <input name="sharing" type="radio" value="trends"/>
                            <i class="form-icon"></i>Only share trends and stats from my answers (e.g. 50% of residents commute by public transit, 30% want more parks)
                        </label>
                        <div>
                            <label class="form-radio">
                                <input name="sharing" type="radio" value="other"/>
                                <i class="form-icon"></i>
                                Other
                            </label>
                            <input class="form-input" type="text" id="sharing_other" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="form-label label-lg"><strong>What is your name?</strong></label>
                    <input name="name" type="text" value="" class="form-input"/>
                </div>

                <div class="form-group">
                    <label for="residency_year" class="form-label label-lg"><strong>What year did you move to Highland Park?</strong></label>
                    <input name="residency_year" type="text" value="" class="form-input"/>
                </div>

                <div class="form-group">
                    <label for="residency_location" class="form-label label-lg"><strong>What street do you live on?</strong></label>
                    <input name="residency_location" type="text" value="" class="form-input"/>
                    <span class="form-input-hint">I would like to make sure I'm getting input from all over the neighborhood.</span>
                </div>

                <div class="form-group">
                    <label class="form-label  label-lg"><strong>Do you rent or own your home?</strong></label>
                    <label class="form-radio">
                        <input name="residency_type" type="radio" value="rent"/>
                        <i class="form-icon"></i> Rent
                    </label>
                    <label class="form-radio">
                        <input name="residency_type" type="radio" value="own"/>
                        <i class="form-icon"></i> Own
                    </label>
                    <label class="form-radio">
                        <input name="residency_type" type="radio" value="other"/>
                        <i class="form-icon"></i> Other
                    </label>
                </div>

                <div class="form-group">
                    <legend class="question-prompt label-lg">What are your primary modes of transportaion?</legend>
                    <div class="form-group">
                        <label class="form-checkbox">
                            <input name="transportation" type="checkbox" value="walk"/>
                            <i class="form-icon"></i>
                            Walking
                        </label>
                        <label class="form-checkbox">
                            <input name="transportation" type="checkbox" value="bike"/>
                            <i class="form-icon"></i>
                            Biking
                        </label>
                        <label class="form-checkbox">
                            <input name="transportation" type="checkbox" value="bus"/>
                            <i class="form-icon"></i>
                            Public Transit
                        </label>
                        <label class="form-checkbox">
                            <input name="transportation" type="checkbox" value="car"/>
                            <i class="form-icon"></i>
                            Driving
                        </label>
                        <div class="form-group">
                            <label class="form-label" for="transportation_other">Others:</label>
                            <input class="form-input" type="text" name="transportation_other">
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <label for="improvements" class="form-label label-lg">
                        <strong>
                            How would you like to see Highland Park improved?
                        </strong>
                    </label>
                    <textarea class="form-input" cols="30" name="improvements" rows="10"></textarea>
                    <span class="form-input-hint">This could be anything from more events in parks, to a plan to manage growth, to more meetings with city officials.</span>
                </div>
                <div class="form-group">
                    <label for="others_know" class="form-label label-lg">
                        <strong>
                            What would you like other people to know about Highland Park?
                        </strong>
                    </label>
                    <textarea class="form-input" cols="30" id="" name="others_know" rows="10"></textarea>
                    <span class="form-input-hint">Maybe you have a story about the history of the neighborhood that you'd like to share, or you volunteer for a charity that's active here, or you know where the turkeys came from.</span>
                </div>
                <div class="form-group">
                    <label for="others_know" class="form-label label-lg">
                        <strong>
                            What would you like to ask other people in Highland Park?
                        </strong>
                    </label>
                    <textarea class="form-input" cols="30" id="" name="others_know" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="civic" class="form-label label-lg">
                        <strong>
                            What would you like out of a civic organization?
                        </strong>
                    </label>
                    <textarea class="form-input" cols="30" id="" name="civic" rows="10"></textarea>
                    <span class="form-input-hint">This might be things you would like to see in a civic org for the neighborhood, or things you would like to not see.</span>
                </div>
                <div class="form-group">
                    <label for="contact" class="form-label label-lg">
                        <strong>
                            Can I contact you to follow up on this census? If so, what's the best way?
                        </strong>
                    </label>
                    <textarea class="form-input" cols="30" id="" name="contact" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="extra" class="form-label label-lg">
                        <strong>
                            Is there anything else you'd like to add?
                        </strong>
                    </label>
                    <textarea class="form-input" cols="30" id="" name="extra" rows="10"></textarea>
                </div>
                <div data-netlify-recaptcha="true">
                </div>
                <div class="form-group">
                    <input class="btn btn-success" name="submit" type="submit" value="Submit"/>
                </div>

            </form>
        </main>
    </body>
</html>
