@import "spectre/spectre";

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.homepage-content {
    position: absolute;
    margin: 0;
    padding: 10%;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-image: url("/images/portrait/cochituate_background.png");
    background-position: bottom -30px right 0px;
    background-repeat: no-repeat;
    background-size: auto 100vh;

    .homepage-location {
        h1,h2 {
            margin: 0;
            padding: 0;
        }
    }
    .menu {
        list-style: none;
        width: fit-content;
        border-radius: unset;
        box-shadow: unset;

        li a {
            color: black;
        }
    }

}

#map {
    width: 100vw;
    height: 95vh;
}

header {
    .menu {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        height: 7vh;
        padding: 0.5rem 0 1.25rem 0;
        margin: 0;

        justify-items: center;
        li {
            a {
                color: black;

                &:visited {
                    color: black;
                }
            }
        }
        border-bottom: 1px solid black;
    }
}

main > div {
    width: 95vw;
    margin: 0px auto;
}
#calendar {
    margin-top: 1rem;
    .event-popup {
        div + div {
            margin-top: 10px;
        }
    }
}


#census {
    padding: 2rem;
    .question-prompt {
        font-size:large;
        font-weight: bold;
    }
    label {
        display: block;
        margin: .25rem;
    }
    form div + div{
        margin-top: 2rem;
    }
    div.inset {
        margin-left: 1rem;
    }

    form {
        input[type="text"] {
            width: 100%;
        }

        input[type="checkbox"] {
            margin-right: 0.5rem;
        }

        input[type="radio"] {
            margin-right: 0.5rem;
        }

        textarea {
            width: 100%;
        }

        input[type="submit"] {
            width:100%;
            height: 2rem;
            font-size: large;
        }
        .form-input-hint {
            color: #404040;
        }
    }
}

#about {
    margin: 2rem;
}
